*
{
    font-family: 'Press Start 2P', cursive;
}

.pokemon
{
    font-size: 64px;
    text-align: center;
    color: rgb(253, 253, 82);
}

:root 
{
    --text-blue: rgb(225, 241, 74);
    --text-light: white;
    --text-dark: black;
    --text-btn: white;
    --cell-size:140px;
    --text-selected: rgb(151, 252, 57);

    --mudkip-img:url('mudkip-2.gif');
    --treeko-img:url('treeko-3.gif');
    --torchic-img:url('torchic.gif');
}

#img 
{
    width: 10px;
    height: 5px;
}

.game
{
    text-align: center;
    font-size: 35px;
}

.text-light
{
    font-size: 32px;
}

/* ================== Start Screen ================== */




.container
{
    height: 75vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(248, 248, 27);
}

body 
{

    background: url('rayquaza.gif') no-repeat center center fixed;
    background-size: cover;
    height: 100%;

}

.primary-btn
{
    border: none;
    background-color: rgb(156, 155, 155);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    margin-top: 1rem;
    font-size: 1rem;
    cursor: pointer;

}

.primary-btn:hover
{
    background:var(--text-light);
    color:var(--text-dark);
}

.start-game .profile .img > img
{
    cursor:pointer;
}



.start-game .profile .img > img:hover
{

    background-color: var(--text-blue);
    width: 120px;
    height: 110px;
}

.start-game.hide
{
    display: none;
}

/* Main Game Board */

#board
{
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: var(--text-light);
    row-gap: 3px;
    column-gap: 3px;

}

.block 
{
    width:var(--cell-size);
    height:var(--cell-size);
    background-color: rgb(17, 236, 152);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.board.x .block:hover
{
    background:var(--treeko-img) no-repeat;
    
    
}